@import "reset";
@import "variables";
@import "animaciones";
@import "externos";
// @import "desafiocomplementario";


.body {
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)),
  radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%),
  linear-gradient(135deg, #ff0000 0%, #000036 100%),
  radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%),
  linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
background-blend-mode: normal, normal, screen, overlay, normal;
min-height: 100vh;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: $color5;
padding: 5em 0 8em 0;
&::-webkit-scrollbar {
  display: none;
}
}
.header__logo {
  display: block;
  padding-top: 0.5em;
  margin: 0 auto 0 auto;
  height: 4em;
  width: 4em;
}
.nav-item {
  padding: 0.5em;
}
.navbar-light .navbar-nav .nav-link {
  color: $color1;
  &:hover {
    color: $color1;
  }
}

.header__nav__a {
  font-family: 'Karla', sans-serif;
  background-color: $color3;
  color: $color1;
  border-radius: 0 1.9em;
  margin-right: 1em;
  &:hover {
    background-color: $color4;
    transform: scale(1.1);
    transition: ease 0.5s;
  }
}
.pActual {
  background-color: $color4;
  padding: 0.5em 1em 0.5em 1em;
}
p,
h2 {
  font-family: 'Marcellus', serif;
  color: $color5;
}
p::first-letter {
  font-size: 2em;
  font-weight: bold;
}
.img {
  max-width: 100%;
  height: auto;
  border-radius: 1.5em;
}
.section__giftcard__img {
  height: 20em;
  width: 20em;
}
.section__strong__a {
  background-color: $color3;
  color: $color1;
  font-weight: 700;
  padding: 0.3em;
  border-radius: 0 1em;
  &:hover{
    color: $color1;
    background-color: $color4;
  }
}
.section {
  background-color: $section;
  border-radius: 2em;
  line-height: 1.5em;
}
.section__listado--servicio {
  line-height: 3em;
}
.section__sobremi__img {
  width: 40%;
  height: 40%;
}
.galeria .img-fluid {
  width: 11em;
  height: 11em;
  padding: 1em;
  border-radius: 1.5em;
  filter: blur(1px);
  &:hover {
    transform: scale(1.8);
    transition: all 0.5s linear;
    z-index: 1;
    filter: saturate(1.5);
  }
}

.form-control, .form-select {
  font-family: 'Roboto', sans-serif;
  border-radius: 0 1.5em;
  border: 1px solid $color5;
  background-color: $color3;
  margin: 0.3em;
  color: $color1;
}
.btn[type="submit"],
.btn[type="button"] {
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  color: $color1;
  border-radius: 0 1em;
  border: none;
  background-color: $color3;
  width: auto;
  height: 3em;
  margin-top: 1em;
  &:hover {
  background-color: $color4;
  color: $color1;
  transform: scale(1.1);
  transition: all 0.9s;
}
}
.footer {
  width: 100%;
  position: fixed ;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
  z-index: 1;
  .footer__p a{
    color: $color5;
    font-weight: bolder;
  }
  .footer__rrss {
    display: flex;
    .footer__rrss__icono {
      padding: 0.7em;
      font-size: 1.7em;
      color: $color5;
      &:hover {
        color: $color4;
        transform: scale(2);
        transition: all 0.5s;
      }
    }
  }
}
.section__404 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: $section;
  border-radius: 2em;
  .p404 {
    width: 9em;
    height: 9em;
    animation: 10s giro infinite;
  }
  .enlace {
    color: $color5;
  }
}
/* Responsive */
@media (min-width: 425px) {
  .body {
    padding: 6em 0 9em 0;
  }
  .navbar-light .navbar-toggler {
    border-color: $color3;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .header__nav__a:hover {
    transform: scale(1);
  }
  .section__listado--servicio {
    line-height: 2em;
  }
  .section__giftcard__img {
    width: 50%;
    height: 50%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 10em;
    .footer__p {
      margin: 0em;
    }
  }
  .sobreMi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .body {
    padding: 7em 0 9em 0;
  }
  .footer {
    display: flex;
    flex-direction: row;
    height: 8em;
  }
  .sobreMi {
    display: flex;
    flex-direction: column;
  }
  }
@media (min-width: 992px) { 
  .header__nav__a:hover {
    transform: scale(1.1);
  }
  .container-fluid {
    padding: 0 5.5em;
  }
  .footer {
    height: 5em;
  }
  .section__giftcard__img {
    width: 30%;
    height: 30%;
  }
  }
